@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
    --color-accent: #ec4899; 
    --second-color:#f472b6; 
    --bg-w-color: #ffffff;
    --bg-b-color: #212529; 
    --color-active:#db2777; 

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Geist', sans-serif;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
  background: var(--bg-w-color);
  color: var(--bg-b-color);
}

/*/////// NAV BAR //////*/

.navbar-container {
    width: 100%;
}

.navbar {
    padding: 1rem 5%;
    width: 100%;
}

.navbar-brand {
  cursor: default;
  user-select: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bg-w-color) !important; 
}


.navbar-nav {
    display: flex;                
    justify-content: space-between;
    align-items: center;           
    gap: 3rem;
}


.navbar-nav .nav-link {
    font-size: 1.3rem;
    color: var(--bg-w-color);
    transition: color 0.3s ease-in-out;
}


.navbar-nav .nav-link:hover {
    color: var(--second-color); 
}

.navbar-nav .nav-link.active {
  color: var(--color-active); 
}

.custom-navbar-toggler {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--bg-w-color); 
}

.custom-navbar-toggler i {
  transition: opacity 0.3s;
}

.custom-navbar-toggler .bi-x {
  font-size: 2rem; 
}


/*////// TITOLI H2 HOMEPAGE E PORTFOLIO //////*/


 .heading-h2 { 
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;

}

/*////// SEZIONE CONTATTI //////*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-image: url('../media/web_2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 3rem; 
    font-weight: 600; 
  }
  
  .sub-title {
    font-size: 1.2rem; 
    margin: 1rem 0 2rem;
    font-weight: 400; 
    text-align: center; 
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    border-radius: 10px;
  }
  

  .input-container { /* Contenitore degli input e del bottone */
    display: flex;
    flex-direction: column;
    width: 100%; /
  }
  
  .contact-form label {
    display: block; 
    font-size: 1rem; /* Dimensione del font dell'etichetta */
    font-weight: 500;;
    margin-bottom: 0.4rem; /* Distanza tra etichetta e campo di input */
    text-align: left; 
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%; 
    font-size: 1.2rem;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form-group textarea {
    resize: none; 
  }
  


/*////// FOOOTER //////*/

.footer { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background: var(--bg-b-color);
}

.footer-text {
    font-size: 1.2rem;
    color: var(--bg-w-color);
}
.footer-icons {
  display: flex; 
  justify-content: center;
  gap: 1.5rem; /*spazio tra le icone */
}

.footer-icons a {
    font-size: 1.6rem;
    color: var(--bg-w-color);
    text-decoration: none; /* Rimuove qualsiasi sottolineatura */
  }

  .footer-icons a:hover{
     color: var(--second-color);
  }
  .footer-icons a:active{
    color: var(--color-active);
 }




 /*////// STILE GENERICO PER I BOTTONI //////*/

.button-container {
  display: flex;
  justify-content: center;
  }

  
.button {
  background-color: var(--bg-b-color);
  color: var(--bg-w-color);
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none; /* Rimuove la sottolineatura */
  transition: background-color 0.5s ease
}

.button-full {
  width: 100%;
}

.button:hover {
  background-color: var(--second-color);
}

.button:active {
  background-color: var(--color-active);
}
