
.header {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
    background-image: url('../media/web.svg');
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left; 
  }
  
  .header-content {
    color:var(--bg-b-color);
    margin-left: 5rem;
  }
  
  .header h1 {
    font-size: 8rem; 
    font-weight: 800;
  }
  
  
  .header .h3-slim {
    font-weight: 600;
    font-size: 2rem; 
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  
  
  .scroll-link {
      display: inline-block;
      margin-top: 3rem; 
      font-size: 1.5rem;
      color: var(--color-accent);
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .scroll-link:hover {
      color: var(--second-color); /* Colore più scuro al passaggio del mouse */
    }
  
  /* projects section */
  
  .projects {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
  }
  
  /* Contenitore dei progetti */
  .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-items: center;
  margin-bottom: 4rem;
  width: 100%;
  }
  
  /* Box dei singoli progetti */
  .projects-box {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  }
  
  /* Immagine del progetto */
  .projects-box img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  }
  
  /* Hover sull'immagine: ingrandisce */
  .projects-box:hover img {
  transform: scale(1.1);
  }
  
  /* Sovrapposizione del progetto */
  .projects-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-b-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  }
  
  /* Hover: mostra la sovrapposizione */
  .projects-box:hover .projects-layer {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  }
  
  /* Titolo del progetto nella sovrapposizione */
  .projects-layer h4 {
  font-size: 1.5rem;
  color: var(--bg-w-color);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  /* Hover: titolo del progetto visibile */
  .projects-box:hover .projects-layer h4 {
  opacity: 1;
  transform: translateY(0);
  }
  
  
  