
.header {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
    background-image: url('../media/web.svg');
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5rem;
  }
  
  .header-content {
    color:var(--bg-b-color);
  }
  
  .header h1 {
    font-size: 8rem; 
    font-weight: 800;
  }
  
  
 .header .h3-slim {
    font-weight: 600;
    font-size: 2rem; 
    margin: 1rem 0 4rem;
  }
  
  
.scroll-link {
      display: inline-block;
      margin-top: 3rem; 
      font-size: 1.5rem;
      color: var(--color-accent);
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
  .scroll-link:hover {
      color: var(--second-color); 
    }
  
  /*////// SEZIONE PROGETTI //////*/
  
  .projects {
  text-align: center;
  margin: 6rem 0 8rem;
  }
  

  .projects-container {   /* Contenitore dei progetti */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-items: center;
  width: 100%;
  margin-bottom: 4rem;
  }
  
  .projects-box {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  

  .projects-box img {   /* Immagine del progetto */
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  }
  
  /* Hover sull'immagine: ingrandisce */
  .projects-box:hover img {
  transform: scale(1.1);
  }
  

  .projects-layer {   /* Sovrapposizione */
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  }
  
  .projects-box:hover .projects-layer {
  opacity: 1;
  }
  
  .projects-layer h4 { /* Titoli */
  font-size: 1.5rem;
  color: var(--bg-w-color);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  /* Hover: titolo del progetto visibile */
  .projects-box:hover .projects-layer h4 {
  opacity: 1;
  transform: translateY(0);
  }
  
  
  