
/*////// STILE PER IL BOTTONE SCROLL //////*/

.scroll-link { 
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

.scroll-link:hover {
  color: var(--second-color);
}

.scroll-link:active {
  color: var(--color-active);
}


/*////// SEZIONE MANIFESTO //////*/

.manifesto {
  background-color: var(--bg-b-color);
  color: var(--bg-w-color);
  padding: 3rem 0;
  text-align: left;
  justify-content: flex-end;
  margin-bottom: 8rem;
}

.manifesto-content {
  padding: 4rem 0 4rem 1.2rem;
  max-width: 800px; 
  margin-left: auto; 
  text-align: left; 
}

.manifesto p:first-of-type {
  font-size: 1.8rem;
  font-weight: 500;
}

.manifesto p {
  font-size: 1.4rem;
  font-weight: 300;
}

.highlight {
  color: var(--color-accent);
}





/*////// SEZIONE PROGETTI //////*/
  
.projects {
text-align: center;
margin: 6rem 0 8rem;
  }
  

.projects-container {   /* Contenitore dei progetti */
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2.5rem;
justify-items: center;
width: 100%;
margin-bottom: 4rem;
}
  
.projects-box {
position: relative;
border-radius: 1rem;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}
  

.projects-box img {   /* Immagine del progetto */
width: 100%;
height: auto;
transition: all 0.5s ease-in-out;
}
  
 
.projects-box:hover img {  /* Hover sull'immagine: ingrandisce */
transform: scale(1.1);
}
  


  
  