/* Media Query per dispositivi con larghezza tra 768px e 1200px */
@media (min-width: 768px) and (max-width: 1200px) {


    /*/////// NAVBAR ///////*/

    .navbar-nav .nav-link {
        font-size: 1.1rem;
        color: var(--bg-w-color);
        transition: color 0.3s ease-in-out;
    }

    /*///// HOMEPAGE //////*/

  .header {
      height: 500px;
      background-size: cover;
      background-position: center;
  }

  .header h1 {
      font-size: 6rem;
  }

  .header .h3-slim {
    font-weight: 600;
    font-size: 2rem; 
    margin-top: 1rem;
    margin-bottom: 4rem;
  }


  .heading-h2 {  /*Titolo H2 */
    font-size: 2.5rem;
}

  .hero-section {
    padding-left: 4rem; /* Riduci il padding sinistro */
    padding-right: 4rem; /* Aggiungi padding a destra per bilanciare */
    text-align: left;
}

.hero-title {
    font-size: 4.5rem; /* Adatta il font-size per schermi intermedi */
}

.hero-subtitle {
    font-size: 1.5rem;
}

.hero-button {
    font-size: 1.1rem;
    padding: 0.8rem 1.5rem; /* Regola la dimensione del bottone */
}

/* Ottimizzazione per la sezione 'About' */
.about-section {
    padding: 3rem 5%;
    text-align: left;
}

.about-container {
    flex-direction: row; /* Torna alla disposizione orizzontale delle immagini e del testo */
}

.about-image {
    max-width: 45%; /* Ottimizza la larghezza dell'immagine */
}

.about-text {
    max-width: 50%;
}

/* Sezione education and skills */
.education-and-skills {
    gap: 4rem; /* Aggiungi più spazio tra le colonne */
}

.education-column, .skills-column {
    width: 48%; /* Ottimizza le larghezze delle colonne */
    text-align: left; /* Allinea il testo a sinistra */
}

/* Ottimizzazione per tool-icons */
.tool-icons {
    justify-content: space-between; /* Dispone le icone in modo equidistante */
    margin-top: 3rem;
}

.tool-icon {
    width: 50px; /* Larghezza ottimizzata per icone di dimensione media */
    height: 50px;
}


  .projects-container {
      grid-template-columns: repeat(2, 1fr);
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.contact h2 {
    font-size: 2rem;
    margin-top: 2rem; /* Aggiunto spazio sopra */
}

.sub-title {
    font-size: 1rem;
    margin-bottom: 2.5rem; /* Aggiunto più spazio sotto */
}

.contact-form {
    padding: 15px;
    margin-bottom: 3rem; /* Distanza extra dal fondo */
}

.button {
    font-size: 1rem;
    padding: 1rem;
}

.button-full {
    width: 100%;
}


/*/////// PAGINA PORTFOLIO //////*/

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr); /* Due colonne */
    width: 80%;
    gap: 2rem;

}

.portfolio-box {
    max-width: 400px;
}

.portfolio-box img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni */
    object-fit: cover;
}

}

  
/*/////// Media Query per dispositivi mobili (max-width: 767px) ////////*/

@media (max-width: 767px) {

    /*/////// NAVBAR ///////*/

    .navbar-nav {
        text-align: left;
        margin-top: 20px;
        display: block;
        width: 100%;
    }
  
    .nav-item {
        width: 100%;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
    }


    /*/////// HOMEPAGE //////*/

    .header {
        height: 500px;
        background-size: cover;
        background-position: center;
    }
  
    .header-content {
        margin-left: 2rem;  /* Riduci il margine sinistro */
        margin-right: 2rem; /* Aggiungi spazio a destra */
    }
  
    .header h1 {
        font-size: 3.5rem;
    }
  
    .heading-h2 {
        font-size: 2rem;
    }
  
    .header .h3-slim {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .scroll-link { 
        margin-top: 0; 
        font-size: 1.2rem;
      }



    .projects { /*///// SEZIONE PROGETTI //////*/
        margin-bottom: 4rem;
    }
  
    .projects-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  
    .projects-box {
        max-width: 90%;
    }
  
    .projects-box img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
  
    .projects-layer h4 {
        font-size: 1.2rem;
    }
  
    .button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

  

    .contact h2 {
        font-size: 2rem;
        margin-top: 3rem; /* Più spazio sopra */
        text-wrap: nowrap;
    }
  
    .sub-title {
        font-size: 1rem;
        margin-bottom: 1.5rem; /* Più spazio sotto */
    }
  
    .contact-form {
        width: 90%;
        padding: 10px;
        margin-bottom: 4rem; /* Più spazio sotto */
    }

    .button-full {
        width: 100%;
        padding: 1rem 2rem;
    }
  
  
    .portfolio-container {
        grid-template-columns: 1fr; /* Una colonna */
        width: 100%;
    }
  
    .portfolio-box {
        width: 90%;
        max-width: 350px;
    }
  
    .portfolio-box img {
        width: 100%;
        height: auto; /* Mantiene le proporzioni */
        object-fit: cover;
    }
  
    .portfolio-layer h4 {
        font-size: 1.2rem;
    }
  
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem 5%;
    }

    .footer-icons {
        display: flex; /* Assicurati che sia flessibile */
        justify-content: center;
        gap: 1rem; /* Aggiunge spazio tra le icone */
    }


   /*/////// PAGINA ABOUT-ME //////*/

   .hero-section {
    height: 100%;
    padding: 4rem 1.5rem;
    text-align: left;
}

.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

    .about-section {      /*/////// ABOUT SECTION ///////*/
    margin: 2rem;
    }


    .about-container {
    flex-direction: column;
     text-align: left;
    }

    .about-image {
    max-width: 80%;
    }

    .about-text {
     max-width: 100%;
    font-size: 1rem;
    }

    .large {
    font-size: 2rem;
    }

    .education-and-skills {
    padding: 2rem 10%;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;

    }
    
     .education-column, .skills-column {
        width: 100%;
        text-align: left;
        }

.tool-section {
            margin: 4 3rem;
            gap: 3rem;
        }

.tool-icons {
        justify-content: center; 
        }
    
     .tool-icon {
        width: 48px; /* Riduce ulteriormente la dimensione delle icone su schermi molto piccoli */
        height: 48px; /* Riduce l'altezza delle icone su schermi molto piccoli */
        }
    }